.header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    height: auto;
    background-color:whitesmoke;
}
.arrow{
    margin-left: 1%;
    margin-top: 2%;
    font-size: larger;
}
.button{
    margin-top: 2%;
    margin-right: 1%;
}
.button1{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
}